@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #243e36;
  --accent: #f6fb7a;
  --behind-the-nineties: var(--font-behind-the-nineties);
}

/* @media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Helvetica, sans-serif; */
  font-family: var(--font-roboto-flex), sans-serif;
  font-size: 1rem;
}
span {
  font-family: var(--font-behind-the-nineties);
}
::-webkit-scrollbar {
  display: none;
}
